<!DOCTYPE html>
<html>

<head>
	<title> Name your price! </title>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
</head>
	
	<body>
	
		<h1> What's your price range? </h1>	
		<p> Enter the most you want to pay! </p>
		<form action = "/info">
			
			<div class="form-group">
   				<label for="maxprice">Enter Budget</label>
    			<input type="text" class="form-control" id="maxprice" placeholder="example: 30">
  			</div>
			
			<button type="submit" class="btn btn-success btn-lg">Next Step</button>
			
		</form>
		
	</body>
	
</html>